@{
    ViewData["Title"] = "Инструкции";
}
<h1>@ViewData["Title"]</h1>
<info-container>
    Данный сайт предназначен для подготовки студентов ДММиКН УрФУ к экзамену по английскому языку.<br />
    Для подготовки к экзамену есть несколько типов тренировок:<br />
    1. По уровням: B1 и B2.<br>
    2. По типам заданий.<br>
    3. По условию окончания тренировки.<br>
    <br /><br />
    Типы заданий:<br>
    1) Предложения - дано предложение и слово, используя которое необходимо переписать исходное предложение,
    сохранив его смысл.<br>
    2) Тексты - дан текст, в котором необходимо заполнить пропуски, вставив недостающие слова.<br>
    3) Картинки - дано изображение с текстом, необходимо из трёх предложений выбрать то, которое передаёт смысл текста.<br>
    <br /><br />
    Условия окончания тренировки:<br>
    1) Тренировка заканчивается, когда даны ответы на все задания в данной тренировке.<br>
    2) Тренировка заканчивается после первой ошибки при ответе на задание.<br>
    3) Тренировка с ограничением по времени.<br>
</info-container>

@*<p>Данный сайт предназначен для подготовки студентов ДММиКН УрФУ к экзамену по английскому языку.</p>
    <p>Для подготовки к экзамену есть несколько типов тренировок:</p>
    <p>
        1. По уровням: B1 и B2.
    </p>
    <p>
        2. По типам заданий.<br>
        На сайте есть три типа заданий:<br>
        1) Предложения - дано предложение и слово, используя которое необходимо переписать исходное предложение,
        сохранив его смысл.<br>
        2) Тексты - дан текст, в котором необходимо заполнить пропуски, вставив недостающие слова.<br>
        3) Картинки - дано изображение с текстом, необходимо из трёх предложений выбрать то, которое передаёт смысл текста.<br>
    </p>
    <p>
        3. По условию окончания тренировки.<br>
        На сайте есть три варианта окончания тренировки:<br>
        1) Тренировка заканчивается, когда даны ответы на все задания в данной тренировке.<br>
        2) Тренировка заканчивается после первой ошибки при ответе на задание.<br>
        3) Тренировка с ограничением по времени.<br>
    </p>*@