@{
    ViewData["Title"] = "Инструкции";
}
<h2>@ViewData["Title"]</h2>

<p>Данный сайт предназначен для подготовки студентов ДММиКН УрФУ к экзамену по английскому языку.</p>
<p>Для подготовки к экзамену есть несколько типов тренировок:</p>
1. По уровням: B1 и B2.<br>
2. По типам заданий.<br>
3. По условию окончания тренировки.<br>
