@model IAnswer

<h4>Задание @ViewBag.TaskNumber/@ViewBag.TotalNumber</h4>

@{ string view = ViewBag.TaskViews[Model.GetType()]; }
@await Html.PartialAsync(view, Model)

@{
    if (ViewBag.TaskNumber < ViewBag.TotalNumber && !ViewBag.IsTrainingFinish)
    {
        <p><a href="~/Home/ShowNextTask">Следующее задание</a></p>
    }
    else
    {
        <p><a href="~/Home/ShowResults">Узнать результаты</a></p>
    }
}
