@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    <p>Над сайтом работали:</p>
    Дюжева Мария: <a href="mailto:mdyuzheva@gmail.com">mdyuzheva@gmail.com</a><br />
    Семёнова Светлана: <br />
    Ясинецкая Александра: <br />
</address>
