@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>

<contacts-container>
    Над сайтом работали:<br/>
    <br /><br />
    Дюжева Мария:<br />
    Семёнова Светлана: <br />
    Ясинецкая Александра: <br />
</contacts-container>
