@model EnglishTest.Models.IndexViewModel

@{
    ViewData["Title"] = "Список заданий";
}

<h2>@ViewData["Title"]</h2>
@foreach (var item in Model.Tasks)
{
    <h3>Task</h3>
    <p>
        @item.GetTask()<br>
        <h4>Answers</h4>
        @for (var i = 0; i < item.Answer.Length; i++)
        {
            @String.Format("{0}: {1}", i + 1, item.Answer[i])<br>
        }
    </p>
}
