@model SentenceTask

<h4>Complete the second sentence so that it has a similar meaning to the first sentence, using the word given. 
    Do not change the word given. You must use between two and five words, including the word given.</h4>
<div>
    <p>@Model.First</p>
    <p>@Model.Word</p>
    <p>@Model.Second</p><br>
</div>
<div>
    <button>Check</button>
</div>

