@model ITask

<h4>Task @ViewBag.TaskNumber/@ViewBag.TotalNumber</h4>

@await Html.PartialAsync(Model.View, Model)

@{
    if (ViewBag.UserAnswerIsRight != null)
    {
        if (ViewBag.UserAnswerIsRight)
        {
            <span style="color:green;">Correct!</span>
        }
        else
        {
            <span style="color:red;">Incorrect!</span>
            <text>Right answer: </text>
            if (Model.Answer.Length == 1)
            {
                <text>@Model.Answer[0]</text>
            }
            else
            {
                <br />
                for (var i = 0; i < Model.Answer.Length; i++)
                {
                    <text>@String.Format("{0}. {1}", i + 1, Model.Answer[i])</text><br>
                }
            }
        }
    }
}
@{
    if (ViewBag.TaskNumber < ViewBag.TotalNumber)
    {
        <p><a href="~/Home/ShowNextTask">Next task</a></p>
    }
}
