@model TextTask

<markdown>
    ##### **Click in the gaps and type one word in each gap.** #####
</markdown>

@{
    var parts = Model.Text.Split("_");
}

@using (Html.BeginForm("CheckAnswer", "Home", FormMethod.Post))
{
    for (var i = 0; i < parts.Length - 1; i++)
    {
        @parts[i]
        @Html.TextBox("userAnswer", (string)ViewBag.Answer?[i])
    }
    @parts[parts.Length - 1]<br />
    <p>
        <input type="submit" value="Check" />
    </p><br />
}
